NODE_ENV=production
PORT=8082

# JWT Settings
JWT_SECRET=dummytokenforlocaltestingonly
JWT_EXPIRATION_MINUTES=500
JWT_EXPIRATION_HOURS=4

# MongoDB
MONGO_URI="mongodb://127.0.0.1:27017/myUrlShortnerTest"
MONGO_URI_TESTS="mongodb://127.0.0.1:27017/myUrlShortnerTest"
MONGO_HOST=127.0.0.1
MONGO_USERNAME=testUser
MONGO_PASSWORD=testPassword
MONGO_DB=myUrlShortner1
MONGO_RS=

# Limits & Base URL
MAX_FILE_LIMIT=11
BASE_URL=http://localhost:8082
FULL_BASEURL=http://localhost:8082/

####################### SMTP SETTINGS #########################
EMAIL_PORT=2525
EMAIL_HOST=smtp.mailtrap.io
EMAIL_USERNAME=dummyuser
EMAIL_PASSWORD=dummypass
EMAIL_FROM="Shuttle App <noreply@shuttleapp.com>"

####################### AWS S3 (Spaces) #########################
SPACES_KEY=FAKEKEY1234567890
SPACES_SECRET=FAKESECRET0987654321
AWS_DEFAULT_REGION=us-east-1
AWS_S3_BUCKET=test-shuttle-bucket
AWS_ENDPOINT=https://nyc3.digitaloceanspaces.com
CDN_URL=https://cdn.shuttleapp.com

S3_BUCKET_SETTINGS=settings
S3_BUCKET_DRIVERDOC=documents
S3_BUCKET_BUS=buses
S3_BUCKET_LOCATION=locations
S3_BUCKET_AGENTDOC=documents
S3_BUCKET_USERPRO=users/profiles
S3_BUCKET_OFFER=offers

##################### REDIS ###############################
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=dummypassword
